<!-- Header -->
<%- include('partials/header', {showSearchBar: true}) %>
<!-- /Header -->

<!-- Main -->
<main>
  <section
    class="decreto-container container d-flex flex-column justify-content-center border border-dark"
  >
    <p>
      Decreto <%= data.num %>/<%= data.anho %> (<%=
      data.fecha.toLocaleDateString() %>). <br />
      Publicado el <%= data.fecha_pub.toLocaleDateString() %> (<%= data.pub %>
      N.º <%= data.num_ed_pub %>) <%if (data.cant_arts==0) { %> en verión
      resumida <% } %>. <br />
      Gobernador: <%= data.firma %>.
    </p>
    
    <p>
      <%if (data.otros_firman !== '' ) { %> Otros firmantes: <%= data.otros_firman %>. <br /><% } %>
      <%if (data.dnu !=='' ) { %> Decreto de Necesidad y Urgencia. <br /><% } %>
      <%if (data.ratif_x_ley !=='' ) { %> Ratificado por Ley <%= data.ratif_x_ley %>. <br /><% } %>
      <%if (data.tema !=='' ) { %><%= data.tema %>. <br /><% } %>
      <%if (data.reglamenta_ley !=='' ) { %> Decreto reglamentario de la Ley <%= data.reglamenta_ley %>. <br /><% } %>
      <%if (data.ley_vetada !=='' ) { %> Veto: Ley <%= data.ley_vetada %>, <%=data.parte_vetada%>. <br /><% } %>
      <%if (data.ley_promul !=='' ) { %> Promulga Ley <%= data.ley_promul %>. <br /><% } %>
      <%if (data.modif_a !=='' ) { %> Modifica a <%= data.modif_a %>. <br /><% } %>
      <%if (data.modif_por !=='' ) { %> Modificado por: Dec. <%= data.modif_por %>. <br /><% } %>
      <%if (data.anexo !=='' ) { %> <span>Anexos: <%= data.anexo %>. <br /><% } %>
      <%if (data.ref_norm !=='' ) { %> Referencias normativas: <%= data.ref_norm %>.<% } %>
    </p>

    <p>
      Nota de la SIT:
      <span class="indented"
        >Boletin Oficial disponible en: <br />
        Biblioteca de la S.I.T.: Volumen <%= data.anho_tomo %>, tomo <%=
        data.nro_tomo %>, pág. <%= data.pag_pub %>
        <br />
        Versión digital en
        <a href="<%= data.link_pub %>" target="_blank"
          >Boletín Oficial de La Rioja</a
        >
      </span>
    </p>
  </section>
</main>
<!-- /Main -->

<!-- Footer -->
<%- include('partials/footer') %>
<!-- /Footer -->
