<main class="results-container container d-flex flex-column align-items-center justify-content-center flex-grow-1">
    <% if (data.totalDocs) { %>
        <div class="row w-100 fs-5 fw-bold pb-3">
            <div class="col-4 align-self-end">
                Resultados encontrados: <%= data.totalDocs %>
            </div>
            <form class="col-4" method="POST">
                <ul class="pagination justify-content-center gap-1 m-0"></ul>
            </form>
            <form id="pag-limit" class="col-4 justify-content-end align-items-center d-flex gap-1" method="POST">
                <label for="">Resultados por página:</label>
            </form>
        </div>
        <table class="table table-bordered border-dark">
            <tbody>
                <% data.docs.forEach((decreto)=> {%>
                    <tr>
                        <td>
                            <p class="fs-5">
                                <a href="/decreto/<%= decreto._id %>" class="link-primary">Dec. N° <%= decreto.num %>/
                                        <%= decreto.anho %></a><br />
                                Del <%= decreto.fecha.toLocaleDateString() %> - Pub. <%=
                                        decreto.fecha_pub.toLocaleDateString() %>
                                        <br />
                                        <%if (decreto.dnu !=='' ) { %> Decreto de Necesidad y Urgencia<br />
                                            <% } %>
                                                <%if (decreto.ley_promul !=='' && decreto.ley_vetada !=='' ) { %> De
                                                    promulgación y veto parcial<br />
                                                    <% } %>
                                                        <%if (decreto.ley_promul !=='' && decreto.ley_vetada==='' ) { %>
                                                            De promulgación<br />
                                                            <% } %>
                                                                <%if (decreto.parte_vetada==='' && decreto.ley_vetada
                                                                    !=='' ) { %> De veto <br />
                                                                    <% } %>
                                                                        <%if (decreto.reglamenta_ley !=='' ) { %>
                                                                            Decreto
                                                                            reglamentario <br />
                                                                            <% } %>
                                                                                <%if (decreto.derogado_por !=='' ) { %>
                                                                                    DEROGADO <br />
                                                                                    <% } %>
                                                                                        <%if (decreto.deroga_dec !=='' )
                                                                                            { %> De derogación <% } %>
                            </p>
                        </td>

                        <td class="text-center align-middle">
                            <a href="/decreto/<%= decreto._id %>" class="link-primary fs-5">Ver</a>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <%} else { %>
            <div class="search-container container d-flex flex-column align-items-center py-4 fs-4 text-white w-50">
                Ingresó algún parámetro incorrecto.
            </div>
            <% } %>
</main>